html,
body,
canvas {
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	overflow: hidden;
}

.lil-gui input {
	text-align: center;
}

#barycentric-gui {
	position: fixed;
	bottom: 0px;
	left: 0px;
	transform: translate(12.5%, -12.5%) scale(1.25, 1.25);
	border-top-right-radius: 4px;
}

#advanced-gui {
	right: 0px;
	border-bottom-left-radius: 4px;
}

#advanced-gui .controller {
	margin: 2px;
}

#barycentric-gui>.title {
	display: none;
}

footer {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 4px;
}

footer a {
	color: lightskyblue;
}